a, a:visited, a:active{
  color: gray;
}

a:hover{
  color: #dd4814;
  text-decoration: none;
}

h1  sup{
  font-weight: normal;
  font-size: 0.3em;
  top: -1.5em;
}

legend{
  margin: 10px 0 8px 0;
}

#errorRibbon{
  margin-top: 10px;
  margin-bottom: 0;
  display: none;
}

#header{
  text-align: center;
}

#main{
  min-height: 450px;
}

#resultContainer{
  padding-top: 40px;
  display: none;
  min-height: 417px;
}

#resultArea2{
  font-size: 1.1em;
}

#tagline{
  font-style: italic;
  font-size: 0.8em;
}

#resultOverview{
  text-align: justify;
  width: 120%;
}

#loading, #noResult{
  text-align: center;
  display: none;
  padding: 40px 0 0 0;
}

#footer{
  bottom: 0;
  width: auto;
  left: 10%;
  right: 10%;
  text-align: center;
  font-size: 0.9em;
}

#gnu{
  padding-right: 5px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}